
<h1> <%= @post.title %></h1>
<% if !@post.categories.empty? %>
    <p>Categories:</p>
    <ul>
    <% @post.categories.each do |category| %>
        <li><%= category.name %></li>
    <% end %>
    </ul>
<% end %><br><br><br>
<%= @post.content%><br><br><br>
<h2>   Comments</h2>
<% if @post.comments.empty? %>
Be the first to comment!
<% end %>
<% @post.users.group(:user_id).each do |user| %>
    Comments from: <%= link_to user.username, user_path(user) %>
    <ul>
    <% user.comments.each do |comment| %>
        <% if comment.post == @post %>
            <%= comment.content%>
        <% end %><br>
    <% end %>
    </ul>
<% end %>